[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
flask = "*"
gunicorn = "*"
mysqlclient = "*"
matplotlib = "*"
flask-cors = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.9"
